<!DOCTYPE html>

<html>
<head>
  <title>404 Error!</title>
    <link rel="icon" href="  /img/weather.webp">

  <link rel="styleSheet" href="/css/styles.css" >   
</head>

<body>
    <div class="main-content">
<h1>{{title}}</h1>
    
    {{errormessage}}
    </div>
    

    {{>footer}}
</body>

</html>    